<h2>About Puddle</h2>

<p>Puddle is a distributed and anonymous data store. You can send out a request for information, and nodes in the network with relevant files will send them back to you.</p>

<p>Read more at <a href="https://github.com/milo-trujillo/Puddle">our GitHub page.</a></p>
