<h2>File Cache</h2>

Caching from other network requests is taking 500 million terrabytes.

<table width=400>
	<tr><th>Cached Files</th></tr>
	<% files.each do |file| %>
	<tr><td><%= file %></td></tr>
	<% end %>
</table>
