<h2>Status: Online</h2>

<p>Uptime: <%= uptime %> seconds.<p>

<p>Add a new request for information:<p>

<form action="addRequest" method="post">
	<input type="text" placeholder="Your request here..." size="50" name=request>
	<input type="submit" value="Request">
</form>

<h3>Current requests:</h3>

List goes here...
