<h2>Sharing Files</h2>

<p>You are sharing 500 million terrabytes of data.</p>

<p>To add more files, place them in the <%= sharedDir %> folder and press 'Rescan'.</p>

<form action="rescanShared">
	<input type="submit" value="Rescan">
</form>

<table width=400>
	<tr><th>Shared Files</th></tr>
	<% files.each do |file| %>
	<tr><td><%= file %></td></tr>
	<% end %>
</table>
